[user]
	name = Antoine GRAVELOT
	email = antoine.gravelot@hotmail.fr
[core]
	autocrlf = input
[color]
	ui = true
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[push]
	default = upstream
[stash]
	showPatch = true
[rebase]
	autostash = true
	autosquash = true
[commit]
	verbose = true
[submodule]
	fetchJobs = 8
[diff]
	compactionHeuristic = true
	indentHeuristic = on
[web]
	browser = open
