[Desktop Entry]
Type=Application
Exec=/home/agravelot/.config/discord/app-1.0.144/Discord
Hidden=false
NoDisplay=false
Name=Discord
Icon=/home/agravelot/.config/discord/app-1.0.144/discord.png
Comment=Text and voice chat for gamers.
X-GNOME-Autostart-enabled=true
